blockquote {
    font-size: 20px;
    padding-left: 10px;
    border-left: none;
}

body {
 background: #D6F5F5;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    text-align: center;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

p {
    padding-left: 75px;
    font-size: 20px;
}

tr {
    font-size: 20px;
}

.centered {
    text-align: center;
}

.cursive-font {
    font-family: "Comic Sans MS", cursive;
    font-size: 22px;
    color: #ed4fff;
}

.galleryPic {
    max-width: 75%;
    max-height: 75vh;
    border: 3px;
    border-style: solid;
    border-color: #86F5F5;
}

.galleryPic-wide {
    max-width: 100%;
    max-height: 100vh;
    border: 3px;
    border-style: solid;
    border-color: #86F5F5;
}

.main-page-Lysa-img {
    width: 315px;
    height: 400px;
    float: left;
    margin-right: 15px;
    margin-left: 12px;
}

.nav-custom {
    color: white;
}
.navbar {
    font-size: 32;
    font-weight: bold;
    width: 100%;
    position: fixed;
}

.navbar-default {
    background-color: #0000ff;
    color: blue;
}

.owlpic-right {
    max-width: 320px;
    max-height: 210px;
}

.owlpic-middle {
    width: 320px;
    height: 210px;
}

.owlpic-left {
    width: 320px;
    height: 210px;
    margin-left: 100px;
}

.payment-img {
    margin-left: 10px;
    height: 30px;
    width: 45px;
}

.services-list {
    color: black;
}

.word-colored {
    color: white;
}
