<br/>
<div class="container" style="padding-top: 10px;">
    <div class="heading" style="padding-top: 10px;" align="center">
        <h2><u>Contact Lysa Webb, MA LPC by Phone</u></h2>
    </div>
    <div class="content">
        <div align="right">
            <img class="owlpic-right" style="margin-right: 50px;" align="right" src="./img/Owls.png" alt="Owls" />
        </div>
        <blockquote style="margin-left: auto; margin-right: auto;">You can contact me at the following phone number: </blockquote>
        <strong><blockquote style="text-align: center; font-size: 24px;">(503) 515-2940</blockquote></strong>
        <br/>
        <blockquote>I usually return calls within 24 hours. Please include the following information in your message:</blockquote>
        <div class="table-responsive">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <ul>
                            <li>
                                Name and phone number
                            </li>
                            <li>
                                Best way and time to reach you
                            </li>
                            <li>
                                A brief description of issues you would like to address
                            </li>
                            <li>
                                Any additional information you feel may be relevant
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <br /> <br /> <br />
        <blockquote>If you are experiencing an emergency call 911.</blockquote>
        <blockquote>If you are experiencing a mental health crisis and live in any of the following counties, please call:</blockquote>
        <div class="table-responsive">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <ul>
                            <li>
                                Multnomah County - (503) 988-4888
                            </li>
                            <li>
                                Washington County - (503) 291-9111
                            </li>
                            <li>
                                Clackamas County - (503) 655-8585
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
