<br/>
<div class="container" style="padding-top: 10px;">
    <div class="heading" style="padding-top: 10px;" align="center">
        <h2><u>Contact Lysa Webb, MA LPC by Email</u></h2>
    </div>
    <div class="content">
        <blockquote style="margin-left: auto; margin-right: auto;">You can contact me at the following email address: </blockquote>
        <blockquote style="text-align: center; font-size: 24px;">lysawebb@frontier.com</blockquote>
        <blockquote style="margin-left: auto; margin-right: auto;">Please include the following information in your email:</blockquote>
        <div class="table-responsive">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <ul>
                            <li>
                                Name and phone number
                            </li>
                            <li>
                                Best way and time to reach you
                            </li>
                            <li>
                                A brief description of issues you would like to address
                            </li>
                            <li>
                                Any additional information you feel may be relevant
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <blockquote style="margin-left: auto; margin-right: auto;"><strong>DISCLAIMER:</strong></blockquote>
        <blockquote style="margin-left: auto; margin-right: auto;">This email address is not secure, so please be mindful of HIPAA sensitive information when contacting me.</blockquote>
        <div align="middle">
            <img class="owlpic-middle" align="middle" style="margin-left: 1px;" src="./img/Owls.png" alt="Owls" />
        </div>
    </div>
</div>
