<br/>
<div class="container" style="padding-top: 10px;">
    <div class="heading" style="padding-top: 10px;" align="center">
        <h2><u>Photo Gallery</u></h2>
    </div>
    <div class="content" align="center">
        <div id="lpic">
            <img src='./img/LysaPlayroom.png' class='img-responsive galleryPic' alt='Playroom'>
        </div>
        <div class="div-responsive">
            <button class="btn btn-info" align="center" ng-click="showPrevious()" style="margin-top: 15px;"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn-info" align="center" ng-click="showFirst()" style="margin-top: 15px;">Start Over</button>
            <button class="btn btn-info" align="center" ng-click="showNext()" style="margin-top: 15px;"><i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
</div>
