<br>
<div class="heading">
    <h2><u>Client Administration Home</u></h2>
</div>
<div class="centeredElement">
  <div class="btn-group-vertical" style="border: solid; border-radius: 10px; border-color: black; align: center;">
  <div>
    <button type="button" class="btn btn-primary clientAdminButton btn-lg" ui-sref="createNewClient">Create New Client</button>
    <button type="button" class="btn btn-primary clientAdminButton btn-lg" ui-sref="viewAllClients">View All Clients</button>
    <button type="button" class="btn btn-primary clientAdminButton btn-lg" ui-sref="viewClient">View Single Client</button>
    <button type="button" class="btn btn-primary clientAdminButton btn-lg" ui-sref="editClient">Edit Client Information</button>
    <button type="button" class="btn btn-primary clientAdminButton btn-lg" ui-sref="deleteClient">Delete Client</button>
  </div>
</div>
