<div class="mainWrapper">
  <br>
  <div class="heading">
      <h2><u>Add A New Client</u></h2>
  </div>
  <br><br><br><br>
  <div>
    <form>
      <p>First Name: <input type="text" ng-model="clientFirstName"></input></p>
      <p>Last Name: <input type="text" ng-model="clientLastName"></input></p>
      <p>Phone Number: <input type="text" ng-model="clientPhone"></input></p>
      <p>Email: <input type="text" ng-model="clientEmail"></input></p>
      <input type="submit" ng-click="submit()">Submit</button>
    </form>
  </div>
</div>
