$galleryBorderColor: #86F5F5;
$galleryPicBorder: 3px;
$galleryPicBorderStyle: solid;
$owlPicWidth: 320px;
$owlPicHeight: 210px;
$pageFont: 'Raleway';

blockquote {
    font-size: 20px;
    padding-left: 10px;
    border-left: none;
}

body {
    font-family: $pageFont;
    background: url('../img/LysaCoast.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: $pageFont;
    font-weight: 700;
    letter-spacing: 1px;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

tr {
    font-size: 20px;
}

.aboutText {
  font-size: 1.5em;
  text-align: center;
  font-family: $pageFont;
}

.addressText {
  font-size: 32px;
  text-align: center;
  font-family: $pageFont;
  top: 50%;
  left: 50%;
  transform: translate(-25%, 20%);
}

.bottomButton {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.buttonWrapper {
  width: 25%;
  min-width: 150px;
  height: 50vh;
  min-height: 300px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align: center;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  border-color: black;
}

.centered {
  text-align: center;
}

.centeredElement {
  position: fixed;
  top: 40%;
  left: 44%;
  transform: translate(-50%, -40%);
}

.centeredInfo {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-17%, -40%);
}

.centeredSubmit {
  align: center;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.clientAdminButton {
  width: 50%;
  min-width: 175px;
  height: 5vh;
  min-height: 30px;
  margin: 0 auto;
}

.clientNames {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.columnClass {
  display: flex;
  height: auto;
  align-items: center;
}

.form-control {
  width: 30%;
}

.gallery {
  border: $galleryPicBorder;
  border-style: $galleryPicBorderStyle;
  border-color: $galleryBorderColor;
}

.galleryPic {
    @extend .gallery;
    max-width: 75%;
    max-height: 75vh;
}

.galleryPic-wide {
    @extend .gallery;
    max-width: 100%;
    max-height: 100vh;
}

.heading {
  padding-top: 10px;
  align: center;
}

.imageContainer {
  height: auto;
  margin-left: 15px;
}

.imageStyle {
  margin: 0 auto;
  height: auto;
  width: auto;
}

.imageStyleLeft {
  @extend .imageStyle;
  margin-left: 10px;
  margin-right: 20px;
  padding-right: 40px;
}

.imageStyleRight {
  @extend .imageStyle;
  margin-left: 30px;
  margin-right: 10px;
}

.loginClass {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.main-page-Lysa-img {
    width: 315px;
    height: 400px;
    align: center;
    margin: 0 auto;
}

.nav-custom {
    color: white;
}
.navbar {
    font-size: 32;
    font-weight: bold;
    width: 100%;
}

.navbar-default {
    background-color: #0000cc;
    color: blue;
}

.owlpic {
  max-width: $owlPicWidth;
  max-height: owlPicHeight;
}

.owlpic-left {
    @extend .owlpic;
    margin-left: 100px;
}

.payment-img {
    margin-left: 10px;
    height: 30px;
    width: 45px;
}

.playText {
  font-size: 1.5em;
}

.services-list {
    color: black;
}

.word-colored {
    color: white;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: $pageFont;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,1.0);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
